<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="Users">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Password</th>
        <th>Roles</th>
    </tr>


    <tr th:each="userq:${user}">
        <td th:text="${userq.getId()}">ID</td>
        <td th:text="${userq.getName()}"> Name</td>
        <td th:text="${userq.getPassword()}"> Password</td>
        <td th:text="${userq.getRoles()}">Roles</td>

    </tr>

</table>

</form>
<br/>
<br/>
<a href="#" th:href="@{/logout}">Log Out</a>



</body>
</html>